# Database
DATABASE_URL="postgresql://neondb_owner:npg_Rm6AwSi7TxyQ@ep-delicate-credit-anjs2m3d-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Auth.js
AUTH_SECRET="2ec97b3fdaa938108ce4ca55af1647b6f9a5e4eaf8f76a26c88215b1b4cc3400" // Change in production
NEXTAUTH_URL="http://localhost:3000"

# Encryption (32 bytes minimum)
ENCRYPTION_SECRET="2ec97b3fdaa938108ce4ca55af1647b6f9a5e4eaf8f76a26c88215b1b4cc3400"

# Selcom Mobile Money (Future)
SELCOM_API_KEY=""
SELCOM_SECRET=""

# pg-boss
PG_BOSS_CONNION_STRING=""